<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que houve uma solicitação para trocar a senha da sua conta.</p>
  <p>Se foi você, então clique no link abaixo para redefinir a senha:</p>
  <p>
    <a href="{{link}}">Resetar sua senha</a>
  </p>
  <p>Se não foi você, então desconsidere esse e-mail</p>
  <p>Obrigado! <br /> <strong>Equipe GoBarber</strong></p>
</div>
